/build/
/images/
*.log
.gradle/
local.properties
*.iml
.idea/
.DS_Store
*.apk
!dist/android/*.apk
*.ap_
captures/
.cxx/
android/pockethost/app/build/
android/pockethost/build/
android/pockethost/.gradle/
