/build/
/images/*/vmlinuz
/images/*/initramfs.cpio.gz
/images/*/manifest.json
*.log
*.cpio
*.cpio.gz
.gradle/
local.properties
*.iml
.idea/
.DS_Store
*.apk
*.ap_
captures/
.cxx/
android/pockethost/app/build/
android/pockethost/build/
android/pockethost/.gradle/
